manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob

    - name: badjeff
      url-base: https://github.com/badjeff

    - name: englmaxi
      url-base: https://github.com/englmaxi

    - name: carrefinho
      url-base: https://github.com/carrefinho

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml

    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main

    - name: zmk-helpers
      remote: urob
      revision: main

    - name: zmk-dongle-display
      remote: englmaxi
      revision: main

    - name: prospector-zmk-module
      remote: carrefinho
      revision: feat/new-status-screens

  self:
    path: config
